<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;800&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
    <link href="/css/index.css" rel="stylesheet">

</head>
<body>
    <header>

        <div class="contenedor-sup">
            <div class="mini-primer-contenedor-sup">
                <img class="logo-mobile" src="/img/logo-mobile.svg">
                <img class="logo-desk" src="/img/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="mini-segundo-contenedor-sup">
                <input class="barra" type="text" maxlength="50" placeholder="Buscar productos, marcas y mas...">
                <button class="lupa">
                    <ion-icon name="search-outline" class="lupa-icono"></ion-icon>
                </button>
            </div>
            <div class="mini-tercer-contenedor-sup">
                <img class="publicidad" src="/img/publicidad.webp">
            </div>
            <div class="mini-cuarto-contenedor-sup">
                <ion-icon name="menu-outline" class="dos-iconos"></ion-icon>
                <ion-icon name="cart-outline" class="dos-iconos"></ion-icon>
            </div>
        </div>

        <nav>
            <div class="contenedor-nav">
                <a class="mini-primer-contenedor-nav" href="#">
                    <ion-icon class="loc" name="location-outline"></ion-icon>
                    <p class="codigo">ingresa tu codigo postal</p>
                    <p class="flecha">></p>
                </a>
                <div class="mini-segundo-contenedor-nav">
                    <ul>
                        <li>Categorias</li>
                        <li>Ofertas</li>
                        <li>Historial</li>
                        <li>Supermercado</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                    </ul>
                </div>
                <div class="mini-tercer-contenedor-nav">
                    <ul>
                        <li>Crea tu cuenta</li>
                        <li>Ingresa</li>
                        <li>Mis compras</li>
                    </ul>
                    <ion-icon name="cart-outline"></ion-icon>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="slider">
            <img src="/img/slider1.webp">
        </div>
    </section>
    <div>
        <div class="contenedor-promo">
            <div class="m1">
                <h2>Paga cómodo y seguro</h2>
                <p>con Mercado Pago</p>
            </div>
            <div class="m2">
                <div>
                    <h2>Hasta 3 meses sin intereses con: </h2>
                    <a class="link-contenedor-promo" href="#">ver condiciones</a>
                </div>
                <div>
                    <img src="/img/citibanamex-vector-logo.svg" alt="Banco" class="banco">
                </div>
            </div>
            <div class="m3">
                <div>
                    <ion-icon name="add-circle"></ion-icon>
                </div>
                <div>
                    <h2>Más medios de pago</h2>
                    <a class="link-contenedor-promo" href="#">Ver todos</a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div>
            <div class="visto">
                <ul>
                    <li>
                        <div class="contenedor-de-producto">
                            <h2 class="titulo-mobile">visto recientemente</h2>
                            <h2 class="titulo-desk">Basado en tu ultima visita</h2>
                            <div class="img-p1">
                                <img src="/img/producto1.webp" alt="" class="p1-img">
                            </div>
                            <div class="desc-p">
                                <p>nombre</p>
                                <h3>precio</h3>
                                <p>meses sin intereses</p>
                            </div>
                            <div>
                                <a href="#"></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/img/producto2.webp" alt="">
                        </div>
                        <div class="desc-p">
                            <p>nombre</p>
                            <h3>precio</h3>
                            <p>meses sin intereses</p>
                        </div>
                        
                    </li>
                    <li>
                        <div>
                            <img src="/img/producto3.webp" alt="">
                        </div>
                        <div class="desc-p">
                            <p>nombre</p>
                            <h3>precio</h3>
                            <p>meses sin intereses</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/img/producto4.webp" alt="">
                        </div>
                        <div class="desc-p">
                            <p>nombre</p>
                            <h3>precio</h3>
                            <p>meses sin intereses</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="/img/producto5.webp" alt="">
                        </div>
                        <div class="desc-p">
                            <p>nombre</p>
                            <h3>precio</h3>
                            <p>meses sin intereses</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="inspirado">

            </div>
            <div class="ofertas">

            </div>
            <div class="servicio-nivel">

            </div>
            <div class="beneficios">

            </div >
            <div class="promo-slider">

            </div >
            <div class="tarjetas">
                <div></div>
                <div></div>
                <div class="tiendas"></div>
                <div></div>
                <div></div>

            </div>
            <div class="historial">

            </div>
            <div class="pago">

            </div>
        </div>
    </main>
    <footer>
        <div class="compra">

        </div>
        <div class="menu">

        </div>
    </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>